#numOfOrbsElement {
    display: none;
}

#firstOrbMessage {
    display: none;
}

#strangeOrbMessage {
    display: none;
}

#investigateFirstOrbButton {
    display: none;
}

#investigateOrbCooldownMessage {
    display: none;
}

#pendingFirstOrbInvestigationMessage {
    display: none;
}