#numOfOrbsElement {
    display: none;
}

#firstOrbMessage {
    display: none;
}

#strangeOrbMessage {
    display: none;
}

#investigateFirstOrb {
    display: none;
}

#investigateOrbCooldownMessage {
    display: none;
}